@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #374151; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6B7280; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9CA3AF; 
}

body {
  font-family: 'Inter', sans-serif; 
}